/* TOP-LEVEL START */

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-size: 1em;
  line-height: 1.15;
  font-family: "Titillium Web", sans-serif;
  color: #666;
}

html {
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: #ddd;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  background-color: rgba(100, 100, 100, 0.5);
  border-radius:  8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 1);
  border-radius:  8px;
}

/* TOP-LEVEL END */

/* NAVIGATION START */

.menu {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 12vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #aaa;
  background: rgba(100, 100, 100, 0.3);
  backdrop-filter: blur(5px);
  animation: slideUp 1s ease-in-out;
  z-index: 10;
}

.menu__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.menu__link:hover {
  font-weight: 700;
  color: #fff;
  background-color: #c00;
  cursor: pointer;
}

/* NAVIGATION END */

/* GENERAL START */

.front-page,
.about-page,
.portfolio-page, 
.contact-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ddd;
}

.about-page,
.portfolio-page {
  animation: slideLeft 0.4s ease-out;
}

.page-header {
  position: relative;
  top: 3rem;
  font-size: 2rem;
  letter-spacing: 0.4rem;
  animation: slideLeft 0.4s linear;
}

.profile,
.portfolio {
  position: relative;
  top: 5rem;
  width: 55rem;
  display: grid;
  grid-gap: 0.5rem;
  align-items: center;
  justify-items: center;
}

.profile__skills,
.profile__bio, 
.profile__technologies, 
.profile__links,
.portfolio__project {
  box-shadow: 1px 5px 10px 1px #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  line-height: 50px;
  text-decoration: none;
  background-position: center;
  background-size: cover;
  z-index: 1;
  overflow: hidden;
}

/* GENERAL END*/

/* FRONT-PAGE START */

.front-page {
  justify-content: center;
}

.home {
  position: relative;
  top: -5vh;
  border: solid 8px #666;
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn 4s linear;
  cursor: default;
}

.home__name {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

.home__title {
  margin: 0 0 0.5rem 0;
  display: flex;
  font-size: 1.2rem;
  letter-spacing: 0.6rem;
}

/* FRONT-PAGE END */

/* ABOUT-PAGE START */

.profile {
  left: -9rem;
}

.profile__skills,
.profile__bio, 
.profile__technologies, 
.profile__links {
  position: absolute;
  background: rgba(100, 100, 100, 0.8);
  backdrop-filter: blur(5px);
  transition: 0.2s linear;
}

.profile__skills {
  top: 0;
  left: 0;
  width: 36.5rem;
  height: 36.5rem;
}

.profile__bio,
.profile__links, 
.profile__technologies {
  width: 18rem;
  height: 18rem;
}

.profile__bio,
.profile__links {
  left: 37rem;
}

.profile__bio {
  top: 0;
}

.profile__technologies {
  top: 0;
  left: 55.5rem;
}

.profile__links {
  top: 18.5rem;
}

.profile__info {
  position: relative;
  border: solid 2px #fff;
  width: 100%;
  min-height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #fff;
  text-align: left;
  padding: .5rem;
}

.profile__heading {
  font-size: 2rem;
  color: #000;
}

.profile__expand {
  height: 2rem;
  width: 2rem;
  background-image: url("../public/icons/expand-black.svg");
  background-position: center;
  background-size: contain;
}

.profile__contents {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.profile__item {
  position: relative;
  top: .5rem;
  left: .5rem;
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.profile__inner-box {
  top: 1rem;
  box-shadow: 3px 3px 5px 1px #000;
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c00;
}

.profile__icon {
  width: 4rem;
  height: 4rem;
}

.profile__item-heading {
  color: #fff;
}

.profile__bio-contents {
  width: 100%;
  height: 92%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: 
    'img summary'
    'img text'
    'info text'
    'info text';
  grid-column-gap: 2rem;
  justify-content: center;
  align-items: center;
}

.profile__text {
  color: #fff;
}

.profile__sub-heading {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #fff;
}

.profile__list {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.profile__tech {
  margin: .5rem 0 0 1rem;
  text-align: left;
  color: #fff;
}

.profile__concept-list {
  border-top: solid 1px #999;
  margin: 0 1rem 1rem 1rem;
  width: 0%;
  height: 0;
  transition: width .2s ease-in;
  transition: height .2s ease-in;
}

.profile__concept {
  margin-left: 1rem;
  text-align: left;
  color: #fff;
  transition: all .2s ease-in;
  overflow: hidden;
}

.profile__bio-summary,
.profile__bio-about,
.profile__bio-info {
  width: 0;
  height: 0;
  overflow: hidden;
}

.profile__img {
  position: relative;
  top: 1.5rem;
  left: 1rem;
  grid-area: img;
  width: 18rem;
  height: 18rem;
}

.active {
  left: 0;
  width: 74rem;
  height: 38rem;
  background: rgba(30, 30, 30, 0.9);
  z-index: 3;
}

/* -- ABOUT PAGE MODIFIERS-- */

.profile__skills:hover {
  width: 38.5rem;
  height: 38.5rem;
  z-index: 2;
}

.profile__links:hover {
  width: 20rem;
  height: 20rem;
  z-index: 2;
}

.profile__skills:hover .profile__info,
.profile__links:hover .profile__info,
.active .profile__info {
  border: solid 2px #c00;
  background-color: #c00;
  z-index: 3;
}

.profile__skills:hover .profile__heading,
.profile__links:hover .profile__heading,
.active .profile__heading {
  color: #fff;
  z-index: 3;
}

.active .profile__expand {
  background-image: url("../public/icons/expand-white.svg");
}

.active .profile__img {
  top: 0rem;
  left: 0;
}

.active .profile__bio-summary,
.active .profile__bio-info,
.active .profile__bio-about {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

.active .profile__bio-summary {
  grid-area: summary;
  margin-bottom: 2rem;
  height: 130%;
  padding-top: 3rem;
}

.active .profile__bio-info {
  grid-area: info;
  margin-left: 1rem;
  height: 100%;
}

.active .profile__bio-label {
  margin-top: 1rem;
  border-bottom: solid 1px #999;
  color: #fff;
  animation: expandTextWidth 1s forwards;
}

.active .profile__text-box {
  border-top: solid 1px #999;
  padding-top: 1rem;
  animation: expandTextWidth 1s forwards, expandTextHeight 2.7s forwards;
  overflow: hidden;
}

.active .profile__text {
  animation: expandTextHeight 2.7s forwards;
  overflow: hidden;
}

.active .profile__bio-about {
  grid-area: text;
  position: relative;
  top: 3rem;
  margin-right: 3rem;
  height: 100%;
}

.active .profile__sub-heading {
  margin-bottom: 0;
}

.active .profile__section-heading {
  margin-bottom: .5rem;
  font-size: 3rem;
  color: #fff;
}

.active .profile__contents {
  height: 92%;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 2fr;
}

.active .profile__list {
  overflow: auto;
}

.active:hover .profile__concept-list {
  height: 100%;
  animation: expandItemWidth 1s forwards;
}

.active:hover .profile__concept {
  animation: expandItemHeight 2s forwards;
} 

/* ABOUT-PAGE END */

/* PORTFOLIO-PAGE START */

.portfolio {
  grid-template-columns: 1fr 1fr 1fr;
}

.portfolio__project {
  width: 18rem;
  height: 18rem;
}

.portfolio__info {
  border: solid 2px #fff;
  width: 100%;
  height: 4.5rem;
  background-color: #fff;
  text-align: left;
  padding-top: 0.5rem;
  padding-left: 0.4rem;
}

.portfolio__heading {
  margin-bottom: 0.2rem;
  font-size: 1.1rem;
  color: #000;
}

.portfolio__text {
  color: #000;
}

.portfolio__project:hover {
  animation: 0.1s linear grow forwards;
  z-index: 2;
}

.portfolio__project:hover > .portfolio__info {
  position: relative;
  top: 0.3rem;
  border: solid 2px #c00;
  width: 100%;
  height: 5rem;
  background-color: #c00;
}

.portfolio__project:hover .portfolio__heading {
  color: #fff;
}

.portfolio__project:hover .portfolio__text {
  color: #fff;
}

/* PORTFOLIO-PAGE END */

/* CONTACT-PAGE START */

.contact-page {
  animation: slideLeft 0.4s ease-out;
}

.contact__label {
  margin-left: 0.5rem;
  font-size: 1.1rem;
  text-align: left;
}

.contact__form {
  position: relative;
  top: 7rem;
  width: 70vw;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.contact__input {
  margin: 1vh 0;
  border: 1px solid transparent;
  height: 5vh;
  padding: 0 0 0 1rem;
  color: #000;
  background: rgba(100, 100, 100, 0.5);
  backdrop-filter: blur(5px);
}

.contact__text {
  margin: 1vh 0;
  border: 1px solid transparent;
  height: 30vh;
  padding: 1rem 0 0 1rem;
  color: #000;
  background: rgba(100, 100, 100, 0.5);
  backdrop-filter: blur(5px);
  resize: none;
}

.contact__submit {
  margin: 3vh 0;
  width: 7.5rem;
  height: 2.5rem;
  font-size: 1.2rem;
}

.contact__submit:hover {
  border: solid 2px #fff;
  color: #fff;
  background-color: #c00;
}

/* CONTACT-PAGE END */

/* ICONS & IMAGES START */

.portfolio__image-1 {
  background-image: url("../public/images/javasynth.png");
}

.portfolio__image-2 {
  background-image: url("../public/images/memorygame.png");
}

.portfolio__image-3 {
  background-image: url("../public/images/noteapp.png");
}

.portfolio__image-4 {
  background-image: url("../public/images/spotifyplayer.png");
}

.portfolio__image-5 {
  background-image: url("../public/images/productpage.png");
}

.portfolio__image-6 {
  background-image: url("../public/images/randomuser.png");
}

/* ANIMATIONS */

@keyframes slideUp {
  0% {
    transform: translateY(130%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes grow {
  0% {
    transform: scale(100%);
  }
  100% {
    transform: scale(120%);
  }
}

@keyframes expandItemWidth {
  0% {
    width: 0;
  }
  25% {
    width: 0;
  }
  100% {
    width: 96%;
  }
}

@keyframes expandItemHeight {
  0% {
    height: 0;
  }
  35% {
    height: 0;
  }
  100% {
    height: 1.5rem;
  }
}

@keyframes expandTextWidth {
  0% {
    width: 0;
  }
  100% {
    width: 96%;
  }
}

@keyframes expandTextHeight {
  0% {
    height: 0;
  }
  35% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

/* ---------- Fog ---------- */
.fogwrapper {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-filter: blur(1px) grayscale(0.2) saturate(1.2) sepia(0.2);
  filter: blur(1px) grayscale(0.2) saturate(1.2) sepia(0.2);
  z-index: 0;
}
#foglayer_01,
#foglayer_02,
#foglayer_03 {
  height: 100%;
  position: absolute;
  width: 200%;
}
#foglayer_01 .image01,
#foglayer_01 .image02,
#foglayer_02 .image01,
#foglayer_02 .image02,
#foglayer_03 .image01,
#foglayer_03 .image02 {
  float: left;
  height: 100%;
  width: 50%;
}
#foglayer_01 {
  -webkit-animation: foglayer_01_opacity 10s linear infinite,
    foglayer_moveme 15s linear infinite;
  -moz-animation: foglayer_01_opacity 10s linear infinite,
    foglayer_moveme 15s linear infinite;
  animation: foglayer_01_opacity 10s linear infinite,
    foglayer_moveme 15s linear infinite;
}
#foglayer_02,
#foglayer_03 {
  -webkit-animation: foglayer_02_opacity 21s linear infinite,
    foglayer_moveme 13s linear infinite;
  -moz-animation: foglayer_02_opacity 21s linear infinite,
    foglayer_moveme 13s linear infinite;
  animation: foglayer_02_opacity 21s linear infinite,
    foglayer_moveme 13s linear infinite;
}

/* ---------- Moving Fog ---------- */

#foglayer_01 .image01,
#foglayer_01 .image02 {
  background: url("https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog1.png")
    center center/cover no-repeat transparent;
}
#foglayer_02 .image01,
#foglayer_02 .image02,
#foglayer_03 .image01,
#foglayer_03 .image02 {
  background: url("https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog2.png")
    center center/cover no-repeat transparent;
}

/* ---------- Keyframe Layer 1 ---------- */
@-webkit-keyframes foglayer_01_opacity {
  0% {
    opacity: 0.1;
  }
  22% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.28;
  }
  58% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.16;
  }
  100% {
    opacity: 0.1;
  }
}
@-moz-keyframes foglayer_01_opacity {
  0% {
    opacity: 0.1;
  }
  22% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.28;
  }
  58% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.16;
  }
  100% {
    opacity: 0.1;
  }
}
@-o-keyframes foglayer_01_opacity {
  0% {
    opacity: 0.1;
  }
  22% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.28;
  }
  58% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.16;
  }
  100% {
    opacity: 0.1;
  }
}
@keyframes foglayer_01_opacity {
  0% {
    opacity: 0.1;
  }
  22% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.28;
  }
  58% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.16;
  }
  100% {
    opacity: 0.1;
  }
}
/* ---------- Keyframe Layer 2 ---------- */
@-webkit-keyframes foglayer_02_opacity {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.1;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.5;
  }
}
@-moz-keyframes foglayer_02_opacity {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.1;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.5;
  }
}
@-o-keyframes foglayer_02_opacity {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.1;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes foglayer_02_opacity {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.1;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.5;
  }
}
/* ---------- Keyframe Layer 3 ---------- */
@-webkit-keyframes foglayer_03_opacity {
  0% {
    opacity: 0.8;
  }
  27% {
    opacity: 0.2;
  }
  52% {
    opacity: 0.6;
  }
  68% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.8;
  }
}
@-moz-keyframes foglayer_03_opacity {
  0% {
    opacity: 0.8;
  }
  27% {
    opacity: 0.2;
  }
  52% {
    opacity: 0.6;
  }
  68% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.8;
  }
}
@-o-keyframes foglayer_03_opacity {
  0% {
    opacity: 0.8;
  }
  27% {
    opacity: 0.2;
  }
  52% {
    opacity: 0.6;
  }
  68% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes foglayer_03_opacity {
  0% {
    opacity: 0.8;
  }
  27% {
    opacity: 0.2;
  }
  52% {
    opacity: 0.6;
  }
  68% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.8;
  }
}
/* ---------- Keyframe moveMe ---------- */
@-webkit-keyframes foglayer_moveme {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@-moz-keyframes foglayer_moveme {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@-o-keyframes foglayer_moveme {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@keyframes foglayer_moveme {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

@media only screen and (min-width: 280px) and (max-width: 767px) {
  #foglayer_01 .image01,
  #foglayer_01 .image02,
  #foglayer_02 .image01,
  #foglayer_02 .image02,
  #foglayer_03 .image01,
  #foglayer_03 .image02 {
    width: 100%;
  }
}
