/* TOP-LEVEL START */

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-size: 1em;
  line-height: 1rem;
  text-align: left;
  font-family: "Titillium Web", sans-serif;
  color: #fff;
  overflow: hidden;
}

html {
  width: 100vw;
  scroll-behavior: smooth;
}

body {
  background-color: #ddd;
}

::-webkit-scrollbar {
  width: 0.7rem;
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 1);
  border-radius: 8px;
}

/* TOP-LEVEL END */

/* NAVIGATION START */

.menu {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 12vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #aaa;
  background: rgba(100, 100, 100, 0.3);
  backdrop-filter: blur(5px);
  animation: slideUp 1s ease-in-out;
  z-index: 10;
}

.menu__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  color: #666;
  text-decoration: none;
}

.menu__link:hover {
  font-weight: 700;
  color: #fff;
  background-color: #c00;
  cursor: pointer;
}

/* NAVIGATION END */

/* GENERAL START */

.front-page,
.about-page,
.portfolio-page,
.contact-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background-color: #ddd;
  z-index: 2;
}

.about-page,
.portfolio-page {
  animation: slideLeft 0.4s ease-out;
}

.page-header {
  position: relative;
  top: 3vh;
  height: 3rem;
  display: flex;
  align-items: center;
  font-size: 2rem;
  letter-spacing: 0.4rem;
  line-height: 1.5rem;
  color: #666;
  animation: slideLeft 0.4s linear;
}

.container {
  position: absolute;
  top: 11vh;
  width: 50vh;
  max-width: 95vw;
  height: 74vh;
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
  align-items: center;
  justify-items: center;
  justify-content: center;
  overflow: visible;
}

.element-single,
.element-group {
  width: 100%;
  overflow: visible;
}

.element-single {
  height: 40vh;
}

.element-group {
  height: 16vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "bio tech links";
  grid-gap: 0.2rem;
  justify-content: space-between;
  justify-items: center;
  overflow: visible;
}

.box {
  box-shadow: 1px 5px 10px 1px #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  line-height: 1rem;
  text-decoration: none;
  background: rgba(100, 100, 100, 0.8);
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(5px);
}

.box-contents,
.box-contents--flex {
  width: 100%;
  height: 100%;
}

.box-label {
  width: 100%;
  height: 3rem;
  max-height: 35%;
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  grid-gap: 0.2rem;
  justify-content: flex-end;
  background-color: #fff;
}

.box-heading {
  font-size: 1.1rem;
  font-weight: 700;
  color: #000;
}

/* GENERAL END*/

/* FRONT-PAGE START */

.front-page {
  justify-content: center;
}

.title {
  position: relative;
  top: -5vh;
  border: solid 8px #666;
  /* width: 95vw; */
  width: auto;
  padding: 0 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  animation: fadeIn 4s linear;
  cursor: default;
}

.name {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0.2rem;
  color: #666;
}

.heading {
  margin: 0 0 0.5rem 0;
  font-size: 1rem;
  letter-spacing: 0.5rem;
  color: #666;
}

/* FRONT-PAGE END */

/* ABOUT-PAGE START */

.bio {
  width: 95%;
  grid-area: bio;
  z-index: 2;
}

.tech {
  width: 95%;
  grid-area: tech;
  z-index: 2;
}

.links {
  width: 95%;
  grid-area: links;
  z-index: 2;
}

.element-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.grid-item {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon-box {
  box-shadow: 1px 5px 10px 1px #000;
  width: 55%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c00;
}

.icon {
  width: 80%;
  height: 80%;
}

.box-contents__bottom,
.text-wrapper,
.grid-heading,
.grid-text,
.sub-heading,
.body-text,
.list-item__heading,
.list-item__text,
.project-text {
  width: 0;
  height: 0;
  display: none;
}

.box-list {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
}

.box-contents__top {
  width: 100%;
  height: 100%;
}

.image {
  width: 16vh;
  max-width: 31vw;
  height: 16vh;
  max-height: 31vw;
}

.list-item,
.list-item__label,
.list-item__icon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-item svg {
  width: 90%;
  height: 90%;
}

.active {
  position: fixed;
  top: 10vh;
  left: 1vw;
  width: 100vw;
  max-width: 98vw;
  height: 75vh;
  background: rgba(30, 30, 30, 0.9);
  transition: all 0.2s;
  -webkit-transition: transform all 0.2s;
  -webkit-transition: -webkit-transform all.2s;
  z-index: 9;
}

/* --ABOUT PAGE MODIFIERS-- */

.box:hover {
  background: rgba(30, 30, 30, 0.9);
  cursor: pointer;
  transition: all 0.2s linear;
  z-index: 11;
}

.active .box-label,
.box:hover .box-label {
  background-color: #c00;
}

.active .box-heading,
.box:hover .box-heading {
  color: #fff;
}

.active .box-contents {
  width: 100%;
  overflow-y: auto;
}

.active .box-contents--flex {
  display: grid;
  flex-direction: column;
  grid-template-rows: 1fr 3fr;
  grid-gap: 0.2rem;
}

.active .box-contents__top {
  width: 100%;
  height: 100%;
  display: flex;
}

.active .box-contents__bottom {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.active .image {
  width: 100%;
  height: auto;
  max-width: 17vh;
  max-height: 17vh;
}

.active .text-wrapper {
  height: 100%;
  width: 100%;
  padding: 0 0 0 0.5rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.active .contents-heading {
  min-height: 1.5rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 700;
  align-items: center;
  color: #fff;
}

.active .contents-text {
  height: 100%;
  padding-top: 0.2rem;
  font-size: 0.9rem;
  line-height: 1.3rem;
  overflow-y: auto;
}

.active .element-grid {
  display: flex;
  flex-direction: column;
}

.active .grid-item {
  width: 95%;
  flex-direction: row;
  grid-gap: 0.2rem;
}

.active .icon-box {
  width: 50%;
  height: auto;
  padding: 0.5rem;
}

.active .grid-heading,
.active .sub-heading {
  margin: 0 0.2rem;
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 700;
}

.active .body-text,
.active .grid-text {
  margin-left: 0.2rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 0.7rem;
}

.active .body-text,
.active .contents-text {
  border-top: solid 1px #999;
}

.active .box-list {
  position: relative;
  left: 1%;
  width: 98%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.active .list-item {
  margin-bottom: 2vh;
  border-bottom: solid 1px #999;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: square inside none;
}

.active .list-item__label {
  margin: 0.2rem 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

.active .list-item__icon {
  margin: 0 0.5rem;
  width: 1rem;
  height: 1rem;
}

.active .list-item__heading {
  width: 100%;
  height: 100%;
  display: contents;
  font-weight: 700;
}

.active .body-text,
.active .contents-text,
.active .list-item {
  animation: textWidth 0.7s linear forwards, textHeight 2s linear forwards;
}

.active .list-item {
  animation: textWidth 0.7s linear forwards, listHeight 3.2s linear forwards;
}

/* ABOUT-PAGE END */

/* PORTFOLIO PAGE START */

.portfolio-page .container {
  height: 70vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.project {
  width: 100%;
  height: 100%;
  transition: all 0.2s linear;
}

.project .box-contents {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.project:hover {
  width: 150%;
  max-width: 50vw;
  height: 150%;
  max-height: 50vw;
  z-index: 11;
}

.project:hover .box-label {
  height: 100%;
  display: flex;
  align-items: center;
}

.project:hover .box-heading {
  display: none;
}

.project:hover .project-text {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}

.project-1 {
  background-image: url("../public/images/javasynth.png");
} 

.project-2 {
  background-image: url("../public/images/memorygame.png");
}

.project-3 {
  background-image: url("../public/images/noteapp.png");
}

.project-4 {
  background-image: url("../public/images/spotifyplayer.png");
}

.project-5 {
  background-image: url("../public/images/productpage.png");
}

.project-6 {
  background-image: url("../public/images/storefront.png");
}

/* PORTFOLIO PAGE END */

/* CONTACT-PAGE START */

.contact-page {
  animation: slideLeft 0.4s ease-out;
}

.contact-page .container {
  align-content: center;
}

.form-label {
  margin-left: 0.2rem;
  font-size: 1.1rem;
  color: #666;
}

.form {
  width: 70vw;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.form-input {
  margin: 1vh 0;
  border: 1px solid transparent;
  height: 5vh;
  padding: 0 0 0 0.2rem;
  color: #000;
  background: rgba(100, 100, 100, 0.5);
  backdrop-filter: blur(5px);
}

.form-text {
  margin: 1vh 0;
  border: 1px solid transparent;
  height: 30vh;
  padding: 0.2rem;
  color: #000;
  background: rgba(100, 100, 100, 0.5);
  backdrop-filter: blur(5px);
  resize: none;
}

.form-submit {
  margin: 3vh 0;
  width: fit-content;
  height: 2.5rem;
  padding: 0.2rem;
  font-size: 1.2rem;
  color: #666;
}

.form-submit:hover {
  border: solid 2px #fff;
  color: #fff;
  background-color: #c00;
}

/* CONTACT-PAGE END */

/* MEDIA QUERIES START */

@media (orientation: portrait) and (min-height: 1000px) {
  .menu__link,
  .page-header {
    font-size: 2.5rem;
  }

  .box-heading {
    font-size: 2rem;
    line-height: 2rem;
  }

  .active .grid-heading,
  .active .contents-heading,
  .active .list-item__heading {
    font-size: 2rem;
    line-height: 3rem;
  }

  .active .grid-text,
  .active .contents-text,
  .active .list-item__text,
  .project-text {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  .active .list-item__icon,
  .active .svg {
    width: 2rem;
    height: 2rem;
  }

  .project:hover .box-label {
    height: 4rem;
  }
}

@media (orientation: landscape) {

  .title {
    width: auto;
  }

  .container {
    top: 14vh;
    width: 84vw;
    max-width: 150vh;
    height: 69vh;
    flex-direction: row;
    grid-gap: 0.2rem;
  }

  .element-single,
  .element-group {
    height: 69vh;
    max-height: 90%;
  }

  .box-label {
    height: 30%;
    max-height: 3rem;
  }

  .skills {
    height: 100%;
  }

  .bio {
    object-fit: cover;
  }

  .element-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "bio tech"
      "links null";
    grid-row-gap: 0.4rem;
    grid-column-gap: 0.1rem;
  }

  .icon-box {
    width: 50%;
    height: 70%;
    max-width: 15vh;
    max-height: 15vh;
  }

  .image {
    width: 100%;
    max-width: 20vw;
    height: auto;
    max-height: 20vw;
  }

  .active {
    top: 14vh;
    height: 70vh;
  }

  .active .icon-box {
    width: 20%;
    height: auto;
    max-width: 10vh;
    max-height: 10vh;
  }

  .active .box-contents__top {
    min-height: 20vh;
  }

  .active .image {
    width: auto;
    max-width: 10vw;
    height: 100%;
    max-height: 10vw;
  }

  .active .text-wrapper {
    height: 50vh;
  }

  .active .sub-heading,
  .active .body-text {
    height: 30vh;
  }

  .portfolio-page .container {
    grid-template-columns: repeat(3, 1fr);
  }

  .project {
    width: 99%;
    height: 99%;
  }
}

@media (min-width: 500px) {

  .menu__link {
    font-size: 1.5rem;
  }

  .box-heading {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

   .project .box-heading {
    font-size: 1.4rem;
  }

}

@media (min-width: 650px) {

  .menu__link {
    font-size: 2rem;
  }

  .name {
    font-size: 3rem;
    line-height: 3rem;
  }

  .heading {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .box-label {
    height: 2.4rem;
  }

}

@media (min-width: 800px) {

  .menu__link {
    font-size: 2.5rem;
  }

  .name {
    font-size: 4rem;
    line-height: 4rem;
  }

  .heading {
    font-size: 2rem;
    line-height: 2rem;
  }

  .box-label {
    height: 3rem;
  }

  .box-heading {
    font-size: 2rem;
    line-height: 2rem;
  }

  .project .box-heading {
    font-size: 1.7rem;
  }
}

@media (min-width: 1000px) {
  
  .menu__link {
    font-size: 3rem;
  }

  .name {
    font-size: 5rem;
    line-height: 5rem;
  }

  .heading {
    font-size: 2rem;
    line-height: 2rem;
  }

  .box-heading {
    font-size: 2rem;
    line-height: 2rem;
  }

  .active {
    left: 12vw;
    width: 76vw;
  }

  .active .grid-heading,
  .active .contents-heading,
  .active .list-item__heading {
    font-size: 2rem;
    line-height: 2.2rem;
  }

  .active .grid-text,
  .active .contents-text,
  .active .list-item__text,
  .project-text {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  .active .list-item__icon,
  .active .svg {
    width: 2rem;
    height: 2rem;
  }

  .project:hover .box-label {
    height: 4rem;
  }
}

/* MEDIA QUERIES END */

/* ANIMATIONS START */

@keyframes slideUp {
  0% {
    transform: translateY(130%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes itemWidth {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes itemHeight {
  0% {
    height: 0;
  }
  25% {
    height: 0;
  }
  100% {
    height: 1rem;
  }
}

@keyframes textWidth {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes textHeight {
  0% {
    max-height: 0;
  }
  40% {
    max-height: 0;
  }
  100% {
    max-height: 100%;
  }
}

@keyframes listHeight {
  0% {
    max-height: 0;
  }
  25% {
    max-height: 0;
  }
  100% {
    max-height: 10rem;
  }
}

/* ANIMATIONS END */
