@media (orientation: landscape) {

/* TOP-LEVEL START */

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-size: 1em;
  line-height: 1rem;
  font-family: "Titillium Web", sans-serif;
  color: #666;
}

html {
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: #ddd;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  background-color: rgba(100, 100, 100, 0.5);
  border-radius:  8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 1);
  border-radius:  8px;
}

/* TOP-LEVEL END */

/* NAVIGATION START */

.menu {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 12vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #aaa;
  background: rgba(100, 100, 100, 0.3);
  backdrop-filter: blur(5px);
  animation: slideUp 1s ease-in-out;
  z-index: 10;
}

.menu__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.menu__link:hover {
  font-weight: 700;
  color: #fff;
  background-color: #c00;
  cursor: pointer;
}

/* NAVIGATION END */

/* GENERAL START */

.front-page,
.about-page,
.portfolio-page, 
.contact-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background-color: #ddd;
}

.about-page,
.portfolio-page {
  animation: slideLeft 0.4s ease-out;
}

.page-header {
  position: relative;
  top: 0.5rem;
  font-size: 2rem;
  letter-spacing: 0.4rem;
  animation: slideLeft 0.4s linear;
}

.profile,
.portfolio {
  position: absolute;
  top: 14vh;
  left: 5vw;
  /* min-width: 91vw; */
  width: 90vw;
  /* width: 90vw; */
  /* height: 45rem;  */
  /* min-height: 75vh; */
  max-height: 80vh;
  min-height: 70vh;
  display: grid;
  grid-gap: 0.5rem;
  align-items: center;
  justify-items: center;
}

.profile__skills,
.profile__bio, 
.profile__technologies, 
.profile__links,
.portfolio__project {
  box-shadow: 1px 5px 10px 1px #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  line-height: .5rem;
  text-decoration: none;
  background-position: center;
  background-size: cover;
  z-index: 1;
  overflow: hidden;
}

/* GENERAL END*/

/* FRONT-PAGE START */

.front-page {
  justify-content: center;
}

.home {
  position: relative;
  top: -5vh;
  border: solid 8px #666;
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn 4s linear;
  cursor: default;
}

.home__name {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3rem;
  letter-spacing: 0.2rem;
}

.home__title {
  margin: 0 0 0.5rem 0;
  display: flex;
  font-size: 1.2rem;
  letter-spacing: 0.6rem;
}

/* FRONT-PAGE END */

/* ABOUT-PAGE START */

/* .profile {
  left: -9rem;
} */

.profile__skills,
.profile__bio, 
.profile__technologies, 
.profile__links {
  position: absolute;
  background: rgba(100, 100, 100, 0.8);
  backdrop-filter: blur(5px);
  transition: 0.2s linear;
}

.profile__skills {
  top: 0;
  left: 0;
  /* width: 36.5rem; */
  /* min-width: 30vw; */
  width: 35%;
  /* height: 36.5rem; */
  /* min-height: 40vw; */
  height: 80%;
}

.profile__bio,
.profile__links, 
.profile__technologies {
  /* width: 18rem;
  height: 18rem; */
  width: 18%;
  height: 39%;
}

.profile__bio,
.profile__links {
  /* left: 37rem; */
  left: 36%;
}

.profile__bio {
  top: 0;
}

.profile__technologies {
  top: 0;
  /* left: 55.5rem; */
  left: 55%;
}

.profile__links {
  /* top: 18.5rem; */
  top: 41%;
}

.profile__info {
  position: relative;
  border: solid 2px #fff;
  width: 100%;
  /* min-height: 3.5rem; */
  min-height: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #fff;
  text-align: left;
  /* padding: .5rem; */
}

.profile__heading {
  /* font-size: 2rem; */
  font-size: .9rem;
  color: #000;
}

.profile__expand {
  height: 1rem;
  width: 1rem;
  display: none;
  background-image: url("../public/icons/expand-black.svg");
  background-position: center;
  background-size: contain;
}

.profile__contents {
  position: relative;
  top: 0;
  /* width: 100%;
  height: 100%; */
  width: 100%;
  height: 100%;
  padding: 1vw;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1vw;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.profile__links .profile__contents {
  top: -.2rem;
}

.profile__item {
  position: relative;
  /* top: .5rem;
  left: .5rem; */
  /* width: 80%;
  height: 80%; */
  width: 100%;
  height: 100%;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.profile__inner-box {
  position: relative;
  /* top: 1rem; */
  top: 0;
  box-shadow: 3px 3px 5px 1px #000;
  /* width: 5rem;
  height: 5rem; */
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c00;
}

.profile__icon {
  /* width: 4rem;
  height: 4rem; */
  /* min-width: 90%;
  max-width: 90%;
  min-height: 90%;
  max-height: 90%; */
  width: 80%;
  height: 80%;
}

.profile__item-heading {
  width: 0;
  height: 0;
  color: #fff;
  overflow: hidden;
}

.profile__bio-contents {
  width: 100%;
  height: 92%;
  overflow: hidden;
}

.profile__text {
  width: 0;
  height: 0;
  color: #fff;
  overflow: hidden;
}

.profile__sub-heading {
  font-size: 1rem;
  color: #fff;
}

.profile__list {
  position: relative;
  width: 100%;
  height: 100%;
  padding: .5vw .5vw .5vw 1vw;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(3, 1fr);
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
  overflow: hidden;
} 

.profile__tech {
  width: 1rem;
  height: 1rem;
  display: flex;
  text-align: left;
  color: #fff;
  overflow: hidden;
}

.profile__tech svg {
  width: .7rem;
  height: .7rem;
}

.profile__tech h2 {
  display: none;
  color: #fff;
}

.profile__concept-list {
  border-top: solid 1px #999;
  margin: 0 1rem 1rem 1rem;
  width: 0;
  height: 0;
  display: none;
  transition: all .2s ease-in;
}

.profile__concept {
  margin-left: 1rem;
  text-align: left;
  color: #fff;
  transition: all .2s ease-in;
  overflow: hidden;
} 

.profile__bio-summary,
.profile__bio-about,
.profile__bio-info {
  width: 0;
  height: 0;
  overflow: hidden;
}

.profile__img {
  position: relative;
  /* top: 1.5rem;
  left: 1rem; */
  grid-area: img;
  /* width: 18rem;
  height: 18rem; */
  width: 100%;
  height: 110%;
}

.active {
  left: 0;
  /* width: 74rem;
  height: 38rem; */
  min-width: 91vw;
  max-width: 100vw;
  min-height: 73vh;
  max-height: 50vh;
  background: rgba(30, 30, 30, 0.9);
  z-index: 3;
}

/* -- ABOUT PAGE MODIFIERS-- */

.profile__links:hover {
  width: 20%;
  height: 41%;
  z-index: 2;
}

.profile__links:hover .profile__info, 
.active .profile__info {
  border: solid 2px #c00;
  background-color: #c00;
  z-index: 3;
}

.profile__links:hover .profile__heading,
.active .profile__heading {
  color: #fff;
  z-index: 3;
}

.active .profile__expand {
  background-image: url("../public/icons/expand-white.svg");
}

.active .profile__contents {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr;
  flex-direction: column;
}

.active .profile__item {
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.active .profile__inner-box {
  margin: 0 2% 0 0;
  width: 20%;
  height: 95%
}

.active .profile__item-heading {
  width: 100%;
  height: 50%;
  font-size: .8rem;
  line-height: 100%;
  color: #fff;
  text-align: left;
  overflow: hidden;
}
.active .profile__text {
  width: 100%;
  height: 100%;
  font-size: .7rem;
  color: #fff;
  text-align: left;
  overflow-y: auto;
}

.active .profile__bio-contents {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: 
    'img summary'
    'img summary'
    'info text'
    'info text';
  grid-column-gap: 1rem;
  /* justify-content: center;
  align-items: center; */
}

.active .profile__img {
  top: 0;
  left: 0;
  width: 7rem;
  height: 7rem;
}

.active .profile__bio-summary,
.active .profile__bio-info,
.active .profile__bio-about {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  text-align: left;
}

.active .profile__bio-summary {
  grid-area: summary;
  /* margin-bottom: 2rem; */
  height: 85%;
  /* padding-top: 1.5rem; */
}

.active .profile__bio-info {
  grid-area: info;
  margin-left: .5rem;
  height: 100%;
}

.active .profile__bio-label {
  /* margin-top: 1rem; */
  border-bottom: solid 1px #999;
  color: #fff;
  animation: expandTextWidth 1s forwards;
}

.active .profile__text-box {
  border-top: solid 1px #999;
  height: auto;
  /* padding-top: 1rem; */
  animation: expandTextWidth 1s forwards, expandTextHeight 2.7s forwards;
  overflow-y: auto;
}

.active .profile__text {
  animation: expandTextHeight 2.7s forwards;
  overflow-y: auto;
}

.active .profile__bio-about {
  grid-area: text;
  position: relative;
  top: 0;
  /* margin-right: 3rem; */
  height: 100%;
  overflow-y: auto;
}

.active .profile__section-heading {
  margin-top: .5rem;
  height: 30%;
  font-size: 1.5rem;
  color: #fff;
}

/* .active .profile__contents {
  height: 92%;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 2fr;
} */

.active .profile__list {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
}

.active .profile__tech {
  margin: 1rem 0 0 .5rem;
  width: 100%;
  font-size: .8rem;
  overflow: visible;
}

.active .profile__tech svg {
  width: 1rem;
  height: 1rem;
  margin-right: .5rem;
}

.active .profile__tech h2 {
  display: flex;
}


.active .profile__concept-list {
  margin: 0 0 0 .5rem;
  width: 100%;
  height: 120%;
  display: flex;
  flex-direction: column;
  animation: expandItemWidth 1s forwards;
}

.active .profile__concept {
  width: 90%;
  padding: 0 0 .5rem 0;
  font-size: .7rem;
  text-align: left;
  list-style: square inside none;
  color: #fff;
  animation: expandItemHeight 2s forwards;
}

/* ABOUT-PAGE END */

/* PORTFOLIO-PAGE START */

.portfolio {
  grid-template-columns: 1fr 1fr 1fr;
}

.portfolio__project {
  width: 100%;
  height: 100%;
}

.portfolio__info {
  border: solid 2px #fff;
  width: 100%;
  height: 25%;
  background-color: #fff;
  text-align: left;
  padding: 2% 0 0 4%;
}

.portfolio__heading {
  margin-bottom: 0.2rem;
  font-size: 1rem;
  color: #000;
}

.portfolio__text {
  font-size: .7rem;
  line-height: .7rem;
  color: #000;
  display: none;
}

.portfolio__project:hover {
  animation: 0.1s linear grow forwards;
  z-index: 2;
}

.portfolio__project:hover > .portfolio__info {
  position: relative;
  top: 0.3rem;
  border: solid 2px #c00;
  width: 100%;
  height: 50%;
  padding: 0 1%;
  background-color: #c00;
}

.portfolio__project:hover .portfolio__heading {
  margin-bottom: 0;
  color: #fff;
}

.portfolio__project:hover .portfolio__text {
  display: contents;
  color: #fff;
}

/* PORTFOLIO-PAGE END */

/* CONTACT-PAGE START */

.contact-page {
  animation: slideLeft 0.4s ease-out;
}

.contact__label {
  margin-left: 0.5rem;
  font-size: 1.1rem;
  text-align: left;
}

.contact__form {
  position: relative;
  top: 7rem;
  width: 70vw;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.contact__input {
  margin: 1vh 0;
  border: 1px solid transparent;
  height: 5vh;
  padding: 0 0 0 1rem;
  color: #000;
  background: rgba(100, 100, 100, 0.5);
  backdrop-filter: blur(5px);
}

.contact__text {
  margin: 1vh 0;
  border: 1px solid transparent;
  height: 30vh;
  padding: 1rem 0 0 1rem;
  color: #000;
  background: rgba(100, 100, 100, 0.5);
  backdrop-filter: blur(5px);
  resize: none;
}

.contact__submit {
  margin: 3vh 0;
  width: 7.5rem;
  height: 2.5rem;
  font-size: 1.2rem;
}

.contact__submit:hover {
  border: solid 2px #fff;
  color: #fff;
  background-color: #c00;
}

/* CONTACT-PAGE END */

/* ICONS & IMAGES START */

.portfolio__image-1 {
  background-image: url("../public/images/javasynth.png");
}

.portfolio__image-2 {
  background-image: url("../public/images/memorygame.png");
}

.portfolio__image-3 {
  background-image: url("../public/images/noteapp.png");
}

.portfolio__image-4 {
  background-image: url("../public/images/spotifyplayer.png");
}

.portfolio__image-5 {
  background-image: url("../public/images/productpage.png");
}

.portfolio__image-6 {
  background-image: url("../public/images/randomuser.png");
}

/* ANIMATIONS */

@keyframes slideUp {
  0% {
    transform: translateY(130%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes grow {
  0% {
    transform: scale(100%);
  }
  100% {
    transform: scale(120%);
  }
}

@keyframes expandItemWidth {
  0% {
    width: 0;
  }
  25% {
    width: 0;
  }
  100% {
    width: 96%;
  }
}

@keyframes expandItemHeight {
  0% {
    height: 0;
  }
  35% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@keyframes expandTextWidth {
  0% {
    width: 0;
  }
  100% {
    width: 96%;
  }
}

@keyframes expandTextHeight {
  0% {
    height: 0;
  }
  35% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

}